PORT=4003
NODE_ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_NAME=appointments
DB_USER=healify
DB_PASSWORD=healify123

DOCTOR_SERVICE_URL=http://doctor-service:4001
PATIENT_SERVICE_URL=http://patient-service:4002

JWT_SECRET=supersecretkey
JWT_EXPIRES_IN=24h
